h1{
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    width: 500px;
    border: 2px solid black;
}
h3{
    text-align: center;
}
body{
    background-color: cadetblue;
}
.button{
    font-size: 20px;
    height: 60px;
    width: 150px;
    margin: 5px 10px;
    background-color: cadetblue;
    border: 3px solid blanchedalmond;
    color: blanchedalmond;
}

.div1{
    display: grid;
    text-align: center;
    width:500px;
    margin: auto;
    justify-content: center;
}
.div2{
    margin: 0px 200px;
    display: flex;
    align-items: center;
}
.button:hover{
    background-color: blanchedalmond;
    color: black;
}

label{
    display: inline-block;
    font-size: 20px;
}

td{
    font-size: 20px;
}

#add{
    margin-right: 20px;
}


#home{
    background-color: blanchedalmond;
    color: black;
}

