@keyframes disappear {
    0% {
        opacity: 0;
        visibility: visible;
    }
    10%{
        opacity: 1;
        visibility: visible;
    }
    70%{
        opacity: 1;
        visibility: visible;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
    
}
body{
    font-family: "Lato", sans-serif;
}
  
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(17, 14, 14);
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav form {
    padding: 6px 8px 6px 16px;
    display: block;
}
  
.button1{
      font-size: 25px;
      height: 80px;
      width: 240px;
      background-color: black;
      color: blanchedalmond;
      border:none;
}
  
.button1:hover{
      background-color: blanchedalmond;
      color: black;
}
  
  
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}
  
table{
      margin: 0px auto 0px auto;
      width: 50%;            
      align-items: center;
      border-collapse: collapse;
      font-family: 'Roboto', sans-serif;
}

td{
    border: solid 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
  
h4{
    padding:0px 20px;
    color:blanchedalmond;
}
.main {
    margin-left: 250px; 
    padding: 0px 10px;
}
  
h3{
    visibility: hidden;
    text-align:center;
    color: brown;
    animation: disappear 3s;
}