
h1{
    margin: 200px auto;
    padding: 20px;
    text-align: center;
    width: 500px;
    color:black;
    border: 2px solid black;
}

body{
    background-color: cadetblue;
}

#clientFine{
    background-color: blanchedalmond;
    color: black;
}

