body{
    background-color: cadetblue;
}
h1{
    font-family: 'Roboto', sans-serif;
    margin-top: 200px;
    text-align: center;            
}  
div{            
    align-items: center;
    display: flex;
    justify-content: center;   
    margin-top: 30px;      
}  
label{
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    width: 240px;            
}   
.yo{
    margin: 20px;            
}  
.button{
    color: blanchedalmond;  
    background-color: cadetblue;
    border: 3px solid blanchedalmond;  
    font-size: 30px;
    height: 80px;
    left: 65.5px;
    margin-top: 20px;  
    position: relative;
    text-align: center;
    width: 300px;            
}        
.button:hover{
    background-color: blanchedalmond;
    color: black;
}