h1{
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    width: 500px;
    border: 2px solid black;
}
body{
    background-color: cadetblue;
}

.div1{
    display: inline-block;
    width:700px;
    text-align: center;
    margin: 10px 130px;
}

.button:hover{
    background-color: blanchedalmond;
    color: black;
}

#pendingRequests{
    background-color: blanchedalmond;
    color: black;
}