h1{
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    width: 500px;
    border: 2px solid black;
}
body{
    background-color: cadetblue;
}
.button{
    font-size: 30px;
    height: 60px;
    width: 150px;
    margin: 5px 10px;
    background-color: cadetblue;
    border: 3px solid blanchedalmond;
    color: blanchedalmond;
}
.div1{
    display: inline-block;
    width:500px;
    margin: 50px 500px;
}

.button:hover{
    background-color: blanchedalmond;
    color: black;
}

#pendingRequests{
    background-color: blanchedalmond;
    color: black;
}