@keyframes disappear {
    0% {
        opacity: 0;
        visibility: visible;
    }
    10%{
        opacity: 1;
        visibility: visible;
    }
    70%{
        opacity: 1;
        visibility: visible;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
    
}
body{
    background-color: cadetblue;
}
h1{
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    text-align: center;       
}  
div{            
    align-items: center;
    display: flex;
    justify-content: center;   
    margin-top: 30px;      
}  
label{
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    width: 240px;            
}   
.yo{
    margin: 20px 0px 20px 20px;
    padding:2px 0px 2px 2px            
}  
.button{
    color: blanchedalmond;  
    background-color: cadetblue;
    border: 3px solid blanchedalmond;  
    font-size: 30px;
    height: 80px;  
    width: 300px;    
    text-align: center;
    margin: 20px auto 0px auto; 
    display:block;

}        
.button:hover{
    background-color: blanchedalmond;
    color: black;
}
h3{
    visibility: hidden;
    color: brown;
    text-align: center;
    animation: disappear 3s;    
}
.tooltip {
    position: relative;
    display: inline-block;
    margin-top: 0;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color:blanchedalmond;
    color: black;
    text-align: center;
    border-radius: 4px;
    padding: 2px 0px;
    position: absolute;
    z-index: 1;
    top: 22px;
    left: 110%;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent blanchedalmond transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }