h1{
    margin: 50px auto;
    width: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: cadetblue;
}
table{
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}
td{
    border: solid 2px;
    font-family: 'Roboto', sans-serif;
}
div{
    margin: 20px auto;
    width: 50%;            
    align-items: center;
}
table{
    margin: 20px auto;
    width: 50%;            
    align-items: center;
}
.button{
    color: blanchedalmond;  
    background-color: cadetblue;
    border: 3px solid blanchedalmond;  
    font-size: 30px;
    height: 80px;
    left: 281px;
    margin-top: 20px;  
    position: relative;
    text-align: center;
    width: 150px;
    font-family: 'Roboto', sans-serif;
}
.button:hover{
    background-color: blanchedalmond;
    color: black;
}   
#logout{
    margin: 0px 420px;
}