h1{
    display: inline;
    margin: 40px 200px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: cadetblue;
}

td{
    border: solid 2px;
    font-family: 'Roboto', sans-serif;
}
div{
    margin: 0px auto;
    width: 50%;            
    align-items: center;
}
table{
    margin: 0px auto 40px auto;
    width: 50%;            
    align-items: center;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}
.button{
    color: blanchedalmond;  
    background-color: cadetblue;
    border: 3px solid blanchedalmond;  
    font-size: 30px;
    height: 80px;
    left: 281px;
    /* margin-top: 20px;   
    text-align: center; */
    font-family: 'Roboto', sans-serif;

    font-size: 20px;
    height: 60px;
    width: 100px;
    margin: 5px 40px;
}
.button:hover{
    background-color: blanchedalmond;
    color: black;
}   

#view{
    background-color: blanchedalmond;
    color: black;
}
