{% extends "templates/default.twig" %}

{% block title %} Document {% endblock %}

{% block css %}
  <link rel="stylesheet" href="/assets/adminLoggedIn.css" /> 
{% endblock %}
 
{% block body %}
    <h1>ADMIN LOGGED IN</h1>
    <div class="div1">
        <h2>AVAILABLE BOOKS ARE:</h2>
        <table>        
            {% for item in book_list %}    
            <tr>
            <td>{{ item.title }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br><br>
    <div class="div2">
    <form action="/addBook" method="POST">
        <label for=""> Name of the book : </label>
        <input type="text" name="bookname"><br>
        <input type="submit" value="add a book"  class="button"/>        
    </form>


    <br>
    
    <form action="/dropBook" method="POST">
        <label for=""> Name of the book : </label>
        <input type="text" name="bookname"><br>
        <input type="submit"  value="drop a book" class="button"/>
    </form>
</div>
    <br><br>
    <form action="/viewRequests" method="POST">
        <input type="submit" value="View Requests"  class="button" id="view"/>        
    </form>
    <br><br>
    <form action="/logout" method="GET">
    <input type="submit"  value="LOGOUT" class="button" id="logout"/>
    </form>
{% endblock %}