<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>

<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav form {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.button1{
    font-size: 25px;
    height: 80px;
    width: 240px;
    background-color: black;
    color: blanchedalmond;
    border:none;

}

.button1:hover{
    background-color: blanchedalmond;
    color: black;
}

.main {
  margin-left: 250px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

td{
    font-size: 20px;
}

h4{
    padding:0px 20px;
    color:blanchedalmond;
}
h3{
  text-align:center;
}
</style>
</head>
<body>

<div class="sidenav">
    <h4>ADMIN LOGGED IN</h4>
    

    <form action="/keepAdmin" method="GET">
        <input type="submit" value="Home"  class="button1" id="home"/>        
    </form>
    <form action="/viewRequests" method="POST">
        <input type="submit" value="View Requests"  class="button1" id="view"/>        
    </form>
    <form action="/logout" method="GET">
    <input type="submit"  value="Logout" class="button1" id="logout"/>
    </form>
</div>

<div class="main">
  {% block body %}{% endblock %}
</div>
   
</body>
</html> 
