{% extends "templates/adminBase.twig" %}

{% block title %} Document {% endblock %}

{% block css %}
  <link rel="stylesheet" href="/assets/adminLoggedIn.css" /> 
{% endblock %}
 
{% block body %}
    <h1>Namaste {{ username }} !!
    <br>
    Welcome to your Dashboard</h1>
    <div class="div1">
        <h2>AVAILABLE BOOKS ARE:</h2>
        <table>        
            {% for item in book_list %}    
            <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <br><br>
    <div class="div2">
    
    <form action="/addBook" method="POST" id="add">
        <label for=""> Name of the book : </label>
        <input type="text" name="bookname"><br>
        <input type="submit" value="add a book"  class="button"/>        
    </form>
    <form action="/dropBook" method="POST">
        <label for=""> Name of the book : </label>
        <input type="text" name="bookname"><br>
        <input type="submit"  value="drop a book" class="button"/>
    </form>
    <h3>{{ error }}</h3>
    </div>
    <br><br>
    
{% endblock %}