<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/clientBase.css">
    {% block css %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>

<div class="sidenav">
    <h4>CLIENT LOGGED IN</h4>
    <form action="/keepClient" method="GET">
        <input type="submit" value="Home"  class="button1" id="home"/>        
    </form>
    <form action="/clientBooks" method="GET">
        <input type="submit" value="My Books"  class="button1" id="myBooks"/>        
    </form>
    
    <form action="/clientRequests" method="GET">
        <input type="submit" value="Pending Requests"  class="button1" id="pendingRequests"/>        
    </form>

    <form action="/clientFine" method="GET">
        <input type="submit" value="View Fine"  class="button1" id="clientFine"/>        
    </form>
    
    <form action="/logout" method="GET">
    <input type="submit"  value="Logout" class="button1" id="logout"/>
    </form>
</div>

<div class="main">
  {% block body %}{% endblock %}
</div>
   
</body>
</html> 
