{% extends "templates/clientBase.twig" %}

{% block title %} Document {% endblock %}

{% block css %}
  <link rel="stylesheet" href="/assets/clientFine.css" /> 
{% endblock %}

{% block body %}
<div class="box">
    <h1>YOU OWE FINE = {{ data[0].fees }} RUPPEES</h1>
</div>
{% endblock %}
