{% extends "templates/default.twig" %}

{% block title %} Document {% endblock %}

{% block css %}
  <link rel="stylesheet" href="/assets/clientLoggedIn.css" /> 
{% endblock %}

{% block body %}
    <h1>CLIENT LOGGED IN</h1>
    <h3>you owe fine= {{ data[0].fees }}</h3>
    <div class="div1">
    <h2>AVAILABLE BOOKS ARE:</h2>
    <table>
        {% for item in book_list %}     
       <tr>
           <td>{{ item.title }}</td>
       </tr>
       {% endfor %}
    </table>
</div>
    <br><br><br><br>
<div class="div1"> 
    <h2>MY BOOKS ARE:</h2>
    
    <table>
        {% for item in my_books %}    
            <tr>
                <td>{{ item.title }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
    <br><br><br><br>
<div class="div2">
    <form action="/takeRequest" method="POST">
        <label for=""> Name of the book : </label>
        <input type="text" name="bookname"><br>
        <input type="submit"  value="TAKE" class="button"/>
    </form>
    <br><br>
    <form action="/returnRequest" method="POST">
        <label for=""> Name of the book : </label>
        <input type="text" name="bookname"><br>
        <input type="submit"  value="RETURN" class="button"/>
    </form>
</div >

<div class="div1"> 
    <h2> PENDING REQUESTS:</h2>
    
    <table>
        {% for item in my_requests %}  
            <tr>
                <td>{{ item.title }}</td>
                {% if item.c==0 %}
                    <td>- take request pending</td>
                {% endif %} 
                {% if item.c==1 %}
                    <td>- return request pending</td>
                {% endif %}
            </tr>
            
        {% endfor %}
    </table>
</div>
    <br><br>
    <form action="/logout" method="GET">
    <input type="submit" value="LOGOUT" class="button" id="logout"/>
    </form>

{% endblock %}