{% extends "templates/clientBase.twig" %}

{% block title %} Document {% endblock %}

{% block css %}
  <link rel="stylesheet" href="/assets/clientLoggedIn.css" /> 
{% endblock %}

{% block body %}
    <h1>Namaste {{ username }} !!
    <br>
    Welcome to your Dashboard</h1>
    <div class="div1">
    <h2>AVAILABLE BOOKS ARE:</h2>
     <h3>{{ error }}</h3>
    <table>
        {% for item in book_list %}     
       <tr>
           <td>{{ item.title }}</td>
           <td>
                <form action="/takeRequest" method="post">
                    <input type="text" name="title" value= '{{ item.title }}' style="display:none;">
                    <input type="submit" name="" value="TAKE" class="button">
                </form>
            </td>
       </tr>
       {% endfor %}
    </table>
    </div>
    

   
{% endblock %}