
{% extends "templates/default.twig" %}

{% block title %} Document {% endblock %}

{% block css %} <link rel="stylesheet" href="/assets/register.css" />{% endblock %}
    
{% block body %}  
    <h1>ENTER CLIENT DETAILS</h1>
    <div>
        <form action="/clientRegister" method="POST">
            <label for="uname">Username :</label>
            <input type="text" name="username" class="yo">
            <br>
            <label for="pass">Password :</label>
            <div class="tooltip">
            <input type="password" name="password" class="yo">
            <span class="tooltiptext">Minimum length: 4</span>
            </div>
            <br>
            <label for="cpass">Confirm Password :</label>
            <input type="password" name="confirmPassword" class="yo">
            <br>
            <input type="submit" onclick="location.href='/';" value="Register" class="button"/>        
        </form>
    </div>
{% endblock %}