{% extends "templates/default.twig" %}

{% block title %} Document {% endblock %}

{% block css %} <link rel="stylesheet" href="/assets/index.css" />{% endblock %}
    
{% block body %}    
    <H1>WELCOME TO THE LIBRARY PORTAL!</H1>
    <br><br>
    <div>

        <div class="dropdown">
            <button class="dropbtn">CLIENT</button>
            <div class="dropdown-content">
                <form action="/clientLogin" method="GET"><input type="submit" value="Login" class="button"/></form>
                <form action="/clientRegister" method="GET"><input type="submit" value="Register" class="button" /></form>
            </div>
        </div>
        <div class="dropdown">
        <button class="dropbtn">ADMIN</button>
            <div class="dropdown-content">
                <form action="/adminLogin" method="GET"><input type="submit" value="Login" class="button"/></form>
                <form action="/adminRegister" method="GET"><input type="submit" value="Register" class="button" /></form>
            </div>
        </div> 
    </div>
{% endblock %}
